<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
	    content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>search engine</title>
    <style>
        input[type=text]{
            background-color: rgba(130, 128, 129, 0.5);
            position: relative;
            color: white;
            left: 130px;
            top: 220px;
        }
        input[type=submit]{
            background-color: rgba(130, 128, 129, 0.5);
            position: relative;
            left: 580px;
            top: 240px;
        }
    </style>
</head>

<body>
	<form action = "{% url 'result' %}", method = 'GET' >
 		<input type="text" placeholder="Type in what you want to search.." name="query" required/><br/>
 		<input type="submit" value="Search">
	</form>

</body>
</html>
